<section class="page-pagination container text-center" data-template="pagination.twig">

    <ul class="pagination pagination-lg">
    {% if pagination.prev %}
        <li class="{{ pagination.prev.link|length ? '' : 'disabled' }}">
            <a href="{{ pagination.prev.link }}" class="prev">«</a>
        </li>
    {% endif %}
    
    {% for page in pagination.pages %}
    <li class="{{page.class}} {{ page.link ? '' : 'active' }}">
        {% if page.link %}
            <a href="{{ page.link }}">
                {{page.title}}<div class="ripple-container"></div>
            </a>
        {% else %}
            <span class="{{ page.class }}">
                {{ page.title }}
            </span>
        {% endif %}
    </li>
    {% endfor %}

    {% if pagination.next %}
        <li class="{{ pagination.next.link|length ? '' : 'disabled' }}">
            <a href="{{ pagination.next.link }}" class="next">»</a>
        </li>
    {% endif %}
    </ul><!-- pagination -->

</section><!-- container-fluid -->