<p class="post-meta text-left text-muted" data-template="single-meta.twig">
    <small class="blog-author post-author" title="{{ post.author.name }}">
        <i class="glyphicon glyphicon-user"></i>
        <a href="{{post.author.path}}"> {{ post.author.name }} </a>
        <span>&nbsp;</span>
    </small><!-- /.blog-author -->

    <small class="posted-on post-date" title="{{ post.post_date|date('d/m/Y') }}">
        <i class="glyphicon glyphicon-calendar"></i>
        {{ 'Published on:'|translate }} {{ post.post_date|date(site.date_format) }}
        <span>&nbsp;</span>
    </small><!-- /.post-date -->

    <small class="post-tags">
        <i class="glyphicon glyphicon-filter"></i>
        {% for term in post.terms('category') %}
        <a href="{{term.link}}">
            {{term.name}}
        </a>
        {% endfor %}
    </small><!-- /.post-tags -->
    {% if post.can_edit %}
    <small class="post-edit edit-link pull-right">
        <a href="{{post.get_edit_url}}">
            <span class="btn btn-xs btn-warning">
                <i class="glyphicon glyphicon-edit"></i>
                {{ 'Edit'|translate }}
            </span>
        </a>
    </small><!-- /.post-edit -->
    {% endif %}
</p>
