{% block content %}
<article class="tease tease-{{ post.post_type }} col-xs-12" id="tease-{{ post.ID }}" data-template="tease.twig">
    <h2 class="article-h2">
        <a href="{{post.link}}">{{ post.title }}</a>
    </h2>
    {% include 'single-meta.twig' %}
    <hr>

    {% if post.thumbnail.src %}
    <img class="img-responsive" src=" {{ post.thumbnail.src|resize(1280,240) }}" />
    <hr>
    {% endif %}

    <p>{{post.get_preview(128, false, false)}}</p>
    <a class="btn btn-primary" href="{{ post.link }}">
        {{ 'Continue reading %s'|translate|format('') }}
        <i class="fa fa-angle-right"></i>
    </a>
</article>
{% endblock %}
