{# lostpassword.twig #}
<div class="lostpassword" id="theme-my-login{{ template_id }}" data-template="lostpassword.twig">

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            {% if template_messages %}
            <div class="alert alert-info template_messages">
                {{ template_messages|translate }}
            </div>
            {% endif %}

            {% if template_the_errors %}
            <div class="alert alert-warning template_the_errors">
                {{ template_the_errors|translate }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <form name="lostpasswordform" id="lostpasswordform{{ template_id }}" action="{{ lostpassword_url }}" method="post">
                <div class="form-group">
                    <label for="user_login{{ template_id }}" class="control-label">
                        {{'Username'|translate }} / {{ 'Email'|translate }}
                    </label>
                    <input type="text" name="user_login" id="user_login{{ template_id }}" required value="{{ user_login }}" size="20" class="form-control" />
                </div>

                {{ function('do_action','lostpassword_form') }}

                <div class="form-group submit text-left">
                    <button type="submit" name="wp-submit" id="wp-submit{{ template_id }}" class="btn btn-success">
                        {{ 'Get New Password'|translate }}
                        <div class="ripple-container"></div>
                    </button>
                    {% for link in action_links %}
                        <a href="{{ function('esc_url', link.url) }}">
                            <span name="{{ link.title }}" id="{{ link.title }}{{ template_id }}" class="btn btn-default">
                                {{ link.title|translate }}
                                <div class="ripple-container"></div>
                            </span>
                        </a>
                    {% endfor %}
                    <input type="hidden" name="redirect_to" value="{{ redirect_to|default(lostpassword_redirect_url) }}" />
                    <input type="hidden" name="instance" value="{{ template_id }}" />
                    <input type="hidden" name="action" value="lostpassword" />
                </div>
            </form>
        </div>
    </div>
</div>
