{% set user_is_logged_in = function('is_user_logged_in') %}
{% set login_url = function('wp_login_url', redirect_url) %}
{% set registration_url = function('wp_registration_url') %}
{% set lostpassword_url = function('wp_lostpassword_url') %}
{% set logout_url = function('wp_logout_url', redirect_url) %}
{% set user_edit_link = function('get_edit_user_link') %}

<div class="ui login  flowing    basic popup  bottom center transition  hidden" id="login" data-template="menu-login.twig">
    <div class="ui divided equal width  relaxed  center aligned choice  grid">
        {% if user_is_logged_in %}
        <div class="standalone column">
            <a class="ui fluid button primary" href="{{ user_edit_link }}">
                {{ 'Edit My Profile'|translate }}
            </a>
        </div>
        <div class="standalone column">
            <a class="ui fluid button" href="{{ logout_url }}">
                {{ 'Log Out'|translate }}
            </a>
        </div>
        {% else %}
        <div class="standalone column">
            <a class="ui fluid button primary" href="{{ wp_login_url }}">
                {{ 'Log In'|translate }}
            </a>
        </div>
        <div class="standalone column">
            <a class="ui fluid button" href="{{ registration_url }}">
                {{ 'Signup'|translate }}
            </a>
        </div>
        {% endif %}
    </div>
</div>
