{% block content %}
<article class="ui fluid raised card" id="post-{{ post.ID }}" data-template="tease.twig">
    <div class="content">
        <div class="right floated meta">
            <!-- TOP RIGHT CORNER INFO -->
        </div>
        <img class="ui avatar image" src="{{ post.author.avatar.src }}" /> {{ post.author.display_name }}
    </div><!-- /.content -->

    <a class="blurring dimmable image" href="{{ post.link }}" target="_self">
        <div class="ui dimmer transition hidden">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">
                        {{ 'Read more'|translate }}
                    </div>
                </div>
            </div>
        </div>
        {% set post_image = (post.thumbnail.src) 
            ? post.thumbnail
            : placeholder %}
        <img src="{{ post_image.src|default(TimberImage('https://dummyimage.com/600x400/000/40414f&text=No+image'))|resize(768,640) }}" alt="{{ post.title }}" />
    </a><!-- /.image -->
    
    <div class="content">

        <h2 class="header">
            <a href="{{ post.link }}" target="_self">
                {{ post.title }}
            </a>
        </h2><!-- /.header -->

        <div class="meta">
            <span class="date" title="{{ 'Published on'|translate }} {{ post.post_date|date('d/m/Y') }}">
                <i class="calendar icon"></i>
                {{ post.post_date|date(site.date_format) }}
            </span>
        </div><!-- /.meta -->

        <div class="description">
            {{ post.get_preview(20, null, false) }}
        </div><!-- /.description -->
    </div><!-- /.content -->
    
    <div class="extra content">
        <a>
            <i class="comment icon"></i>
            {{ post.comment_count }} {{ 'comments'|translate }}
        </a>
        <a class="right floated">
            <i class="unhide outline icon"></i>
            {% set views_shortcode = '[views id="' ~ post.ID ~ '"]' %}
            {{ views_shortcode|shortcodes }} {{ 'views'|translate }}
        </a>
    </div><!-- /.extra -->

</article><!-- /.card -->
{% endblock content %}
