{% set user_is_logged_in = function('is_user_logged_in') %}
{% set login_url = function('wp_login_url', redirect_url) %}
{% set registration_url = function('wp_registration_url') %}
{% set lostpassword_url = function('wp_lostpassword_url') %}
{% set logout_url = function('wp_logout_url', redirect_url) %}
{% set user_edit_link = function('get_edit_user_link') %}
<ul class="nav navbar-nav navbar-right nav-login" data-template="menu-login.twig">
    {% if user_is_logged_in %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-lock"></i>
            {{ 'Howdy, %1$s'|translate|format('asd') }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ user_edit_link }}">
                    <span class="btn btn-priamry btn-block btn-sm">
                        <i class="glyphicon glyphicon-edit"></i>
                        {{ 'Edit My Profile'|translate }}
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ logout_url }}">
                    <span class="btn btn-danger btn-block btn-sm">
                    <i class="glyphicon glyphicon-log-out"></i>
                    {{ 'Log Out'|translate }}
                    </span>
                </a>
            </li>
        </ul>
    </li>
    {% else %}
    <li class="dropdown">
        <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">
            {{ 'Log In'|translate }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-form">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" role="form" method="post" action="{{ login_url }}"  accept-charset="UTF-8" id="menu-login">
                            <div class="form-group">
                                <label class="sr-only" for="log">{{ 'Username'|translate }}</label>
                                <input type="text" class="form-control" id="log" name="log" placeholder="{{ 'Username'|translate }}" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="pwd">{{ 'Password'|translate }}</label>
                                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="{{ 'Password'|translate }}" required>
                                <small class="help-block text-right">
                                    <a href="{{ lostpassword_url }}">
                                        {{ 'Lost your password?'|translate }}
                                    </a>
                                </small>
                            </div>
                            <div class="checkbox">
                                <label for="rememberme">
                                    <input type="checkbox" name="rememberme" id="rememberme">
                                    {{ 'Remember Me'|translate }}
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">
                                    {{ 'Log In'|translate }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="{{ registration_url }}">
                            <span class="btn btn-primary btn-block">
                                {{ 'Signup'|translate }}
                            </span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    {% endif %}
</ul>
