{% for item in menu.get_items %}
    {% if item.get_children %}
    <div class="ui compact item {{ item.classes | join(' ') }} {{ (item.current_item_ancestor) ? 'active' : '' }}" tabindex="0" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="ui dropdown">
            <a>
                {{ item.title }}
                <i class="ui dropdown icon"></i>
            </a>
            <div class="menu" tabindex="-1">
                {% for children in item.get_children %}
                <div class="item {{ children.classes | join(' ') }} {{ (children.current) ? 'active' : '' }}">
                    <a href="{{ children.get_link }}">{{ children.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="item {{ item.classes | join(' ') }} {{ (item.current) ? 'active' : '' }}">
        <a href="{{ item.get_link }}">{{ item.title }}</a>
    </div>
    {% endif %}
{% endfor %}
