{% if pagination.pages %}
<div class="ui container center aligned">
    <div class="ui divider hidden"></div>
    <div class="ui borderless pagination menu">

        {% if pagination.prev %}
            <a class="item {{ pagination.prev.link|length ? '' : 'disabled' }}" href="{{ pagination.prev.link }}" class="prev">«</a>
        {% endif %}

        {% for page in pagination.pages %}
            {% set is_active = page.link or 'dots' in page.class %}
            <a class="item {{ (is_active) ? '' : 'active' }}" {{ (is_active) ? 'href="' ~ page.link ~ '"' : '' }}>
                {{page.title}}
            </a>
        {% endfor %}

        {% if pagination.next %}
            <a class="item {{ pagination.next.link|length ? '' : 'disabled' }}" href="{{ pagination.next.link }}" class="next">»</a>
        {% endif %}
        
    </div>
    <div class="ui divider hidden"></div>
</div>
{% endif %}
