{% extends "base.twig" %}

{% block content %}
<form class="text-left  password-form" action="/wp-login.php?action=postpass" method="post" role="form" data-template="single-password.twig">
    <div class="form-group">
        <label for="pwbox-{{post.ID}}" class="control-label">{{ 'Password'|translate }}:</label>
        <input class="form-input password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{ 'Password'|translate }}" size="20" maxlength="20" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary password-btn" type="submit" name="Submit" value="{{ 'Submit'|translate }}" />
    </div>
</form>
{% endblock %}
